.navcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    height: 64px;
    align-items: center;
    
    z-index: 1000;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    border-bottom: 1px solid silver;
    

}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;

   
    
}
.logo{
    position: absolute;
    left: 20px;

}
.navbar a, .subroutehead>span{
    padding: 5px 10px;
    font-family: "Roboto";
    font-size: 1.2rem;
    border-radius: 7px;
    color: black;
    font-weight: 500;
    
}
.navbarmain a:hover , .subroutehead>span:hover{
    background-color: white;
    border: 1px solid silver;
    box-shadow: 1px 1px 3px wheat;
}
.drawarbtn{
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    z-index: 10000;
}



.backdrop{
    background-color: rgba(128, 128, 128, 0.87);
    position: absolute;
    min-height: 100vh;
    min-width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    visibility: visible;
}
.closebackdrop{
    visibility: collapse;
    transition: all 0.5s ease-in-out;
}
.burgermenu{
    transform: translateX(0%);
    background-color: white;
    width: 300px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    transition: all 0.6s ease-in-out;
    overflow:scroll;
    
    
}
.closemenu{
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;

}
.subroutehead{
    position: relative;
}
.subroutediv{
    
    position: absolute;
    text-align: center;
    top: 43px;
    box-shadow: 0px 0px 4px 1px silver;
    border-radius: 5px;
    width: 200px;
    padding: 15px 10px;
   
    left: -35px;
    /* display: none; */


}


.closeburgersubroute{
    display: none;

}
.burgerroutediv{
    display: block;
    padding: 14px 2px 0px 73px

}
.emaildiv{
    padding: 22px 20px 22px 0px;
    border-bottom: 1px solid silver;
    text-align: center;
    background-color: var(--mediumgray);
    color: white;

}
.singleburgerelement{
    border-bottom: 1px solid silver;
    padding: 15px 5px 15px 25px;
}
.burgerroutehead{
    
    border-bottom: 1px solid silver;
}
.burgerroutehead>div:nth-child(1){
    padding: 15px 5px 15px 26px;
    color: blue;
}
.burgerroutehead>div:nth-child(1):hover{
   
    background-color: aliceblue;
}
.burgerdivall{
    padding: 5px 20px;
}
.burgerroutehead>span>svg{
    font-size: 1.3rem;
    position: relative;
    top: 7px;
}
.burgerroutediv>div{
    padding: 10px
}
.blue{
    background-color: var(--blue);
}
.subroutediv>div>a{
    font-size: 1rem;
}
.subroutediv>div{
    padding: 10px;
   
}
.subroutediv>div:hover{
    background-color: aliceblue;
}


.hideroutediv{
    display: none;
}
.singleburgerelement:hover{
    background-color:var(--blue);
    border-radius: 5px;
}
.singleburgerelement:hover>a{
    color: white;
}

.burgerroutediv>div:hover{
    background-color: var(--blue);
    border-radius: 5px;
    
}
.burgerroutehead>div>svg{
    position: relative;
    top: 4px;
    left: 5px;
    font-size: 1.2rem;
}
.emaildiv>p{
    padding: 0 12px 0px 0px;
    font-size: 1.2rem;
}
.singleburgerelement>a{
    color:black;
    padding: 14px 23px 14px 28px;
}
.burgerroutediv>div>a{
    color: blue;
}
.selected>a{
    background-color: var(--blue);
    color: white;
}
.homenavbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 64px;
    align-items: center;
    z-index: 1000;
    width: 100vw;
    background-color: var(--blue);
}
.active{
    background-color: var(--blue);
}
.homenavbarsticky{
    position: fixed;
    top: 0%;
    left: 0%;
}
@media screen and (max-width:1028px) {
    .drawarbtn{
        display: block;
        position: fixed;
    }
    .navbar{
        display: none;
    }
    .logo{
        
        display: none;  
    }
    .homenavbar{
        display: none;
    }
    .navcontainer{
        border-bottom: unset;
    }
    .active{
        background-color: unset;
    }
    
}